/* wrap */
.wrap{
  max-width: 1920px;
  font-family: 'Noto Sans';
}


/* header */
.header{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.header ul{
  gap: 40px;
}
.nav a{
  text-decoration: none;
}

/* banner */
.banner{
  background-color:#FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner .upper-banner{
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;

}

.banner .lower-banner{
  display: flex;
  gap: 40px;
  text-align: center;
  justify-content: center;
}


/* layout */
.container{
    background-color: white;
}
  
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  li{
    margin: 8px 0 0 8px;
  }
  
  .card img{
  width: 636px;
  height: 400px;
  gap: 0px;
  border-radius: 8px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  }
  
  .card h2{
  font-family: "Noto Sans";
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
  }
  
  .card p{
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #919191;
  }
  
  .card a{
  width: 88px;
  height: 32px;
  padding: 4px 12px 4px 12px;
  gap: 20px;
  border-radius: 16px;
  opacity: 0px;
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  color:#3B3B3B;
  background: #F1F1F1;
  text-decoration: none;
  }